<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PGLTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E46ACEC71D5CE0EC002E71F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46ACEE01D5CE0ED002E71F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46ACEEB1D5CE0ED002E71F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
